<!-- Footer Section -->
<footer class="w-full bg-darkBluebg-lightBg bg-darkBg dark:bg-lightBg text-textLight dark:text-textDark  pt-[24rem]  mt-20">
    <!-- Top Section with Services Info -->

    <!-- <div class="w-full relative flex justify-center py-20 sm:py-10">
        <div data-aos="fade-up" data-aos-duration="1500" data-aos-delay="500" class="h-auto sm:h-[250px] absolute sm:top-[2rem] top-[-27rem]   bg-[rgba(185,86,47,1)] text-white p-10   shadow-xl max-w-[80%] z-20">
            <div class="flex justify-end mb-4">
                <img src="../../../assets/images/logoaura.png" alt="Aura Logo" class="h-12">
            </div>
            <h2 class="text-right text-2xl font-bold font-['Almarai'] mb-4">خدمات ما بعد البيع</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6 text-xl font-['Almarai'] text-right">
                <p class="font-5xl">
                    نؤمن في ذهب كابيتال العقارية بأن النجاح الحقيقي هو بناء علاقة وطيدة مع العميل من خلال تسخير مهارات
                    فريقنـا
                    وخبراتهم في تقديم كـافة الخدمات والحلـول التي يحتاجهـا بعد تسلمـه للعقـار لضمـان حصـوله على نمط حياة
                    مريح
                    ومستدام.
                </p>
                <p id="hide">
                    تتمثل خدمات ما بعد البيع في مجموعة من الباقات التي تتضمن خدمات ومزايا من شأنها أن توفر جميع
                    التسهيلات لتهيئة
                    وتجهيز العقار للسكن أو للاستثمار، ويتولى فريق خدمة العملاء في سمد الإجابة عن استفساراتكم حول الباقات
                    والمزايا التي تتضمنها كل باقة حسب نوع العقار من خلال قنوات الاتصال الرسمية.
                </p>
            </div>
        </div>
    </div> -->
     <div class="w-full bg-slate-900 overflow-hidden mt-16  flex justify-between px-4 md:px-16 py-10 flex-wrap md:flex-nowrap gap-8 sm:mt-2">
        <div class="w-[80vw] m-auto  bg-slate-900 overflow-hidden mt-16 flex justify-between px-4 md:px-16 py-10 flex-wrap md:flex-nowrap gap-8">

        <!-- Left Section -->
        <div dir="rtl" class="flex justify-content-end ps-5 align-content-end flex-col gap-5 text-right w-full sm:w-[23%]">
            <div class="text-white text-xl font-normal font-['Almarai']">
                <div class="text-white text-xl font-normal font-['Almarai']">
            المطور العقاري
          </div>
          <div class="text-white text-base font-normal font-['Almarai']">
            ذهب كابيتال العقارية هي شركة رائدة في مجال التطوير العقاري، حيث تركز على تقديم مشاريع مبتكرة تلبي احتياجات السوق.
          </div>
        </div>
          <img dir="rtl"  class="h-40 object-contain" src="../../../assets/images/horizontal white (1).png" alt="Logo">
        </div>
      
       
        <div class="flex flex-col items-end gap-6 md:w-auto w-full">
          <div class="text-white text-xl font-normal font-['Almarai']">خدمة المبيعات</div>
          <div class="flex items-center space-x-2 text-white text-xl font-normal font-['Almarai']">
            
            
            <a href="https://wa.me/+966530660273" class="bg-white p-2 rounded-full" target="_blank">
    <img src="../../../assets/images/icons8-whatsapp.svg" alt="WhatsApp" style="width: 30px; height: 30px;">
</a>
         <span>+966 530 660 273</span>
          </div>
          <div class="w-full border-b border-white"></div>
      
         
          <div class="flex items-center justify-end gap-4 flex-wrap">
            <div class=" bg-red-50 rounded-full flex items-center justify-center">
                <img _ngcontent-ng-c1946291930="" src="../../../assets/images/Facebook-Icon.svg" class="self-stretch ">
            </div>
      
            <div class=" bg-red-50 rounded-full flex items-center justify-center">
                <img _ngcontent-ng-c1946291930="" src="../../../assets/images/Twitter-Icon.svg" class="self-stretch ">
            </div>
      
            <div class=" bg-red-50 rounded-full flex items-center justify-center">
                <img _ngcontent-ng-c1946291930="" src="../../../assets/images/Youtube-Icon.svg" class="self-stretch ">
            </div>
      
            <div class=" bg-red-50 rounded-full flex items-center justify-center">
                <img _ngcontent-ng-c1946291930="" src="../../../assets/images/LinkedIn-Icon.svg" class="self-stretch ">
            </div>
          </div>
      
        </div>
      
      </div>
    </div>   
      
    <!-- <div class="w-full h-auto bg-zinc-900"> -->
    <!-- <div
        class="flex bg-darkBg dark:bg-lightBg text-textLight dark:text-textDark justify-center text-xl font-medium font-inter p-4">
        © Copyright 2025. AURA. All rights reserved.
    </div> -->

    <!-- </div> -->
</footer>