// Import Tailwind CSS styles
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

* {
  font-family: 'Almarai', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
p a h1 h2 h3 h4 h5 h6 div span {
  font-family: 'Almarai', sans-serif;

}


// :root {
//   --primary-color: #F79C42; // Light mode primary color
//   --secondary-color: #333;  // Secondary color
//   --background-light: #F2F2F2;  // Light mode background
//   --background-dark: #1F1F1F;   // Dark mode background
//   --font-family-base: 'Inter', sans-serif;
//   --secondry-500: rgba(185, 86, 47, 1);
//   --secondry-200: rgba(234, 191, 174, 1);
//   --secondry-50: rgba(250, 239, 235, 1);
//   --primary-500: rgba(1, 68, 123, 1);
// }
// @layer utilities {
//   @keyframes fadeInUp {
//     from {
//       opacity: 0;
//       transform: translateY(20px);
//     }
//     to {
//       opacity: 1;
//       transform: translateY(0);
//     }
//   }

//   .animate-fadeInUp {
//     animation: fadeInUp 1s ease forwards;
//   }
// }


// Additional base styles
body {
  font-family: var(--font-family-base);
  
  box-sizing: border-box;
  &:lang(ar) {
    text-align: right;
  }
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

button {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}
@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-right {
  animation: slide-in-right 2s ease-out forwards;
}

.slide-in-left {
  animation: slide-in-left 2s ease-out forwards;
}
.hidden-on-load {
  opacity: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
