<div class="box">

    <img id="bg_container" src="../../../assets/images/unsplash_LpbyDENbQQg.png" alt="">
    <img id="bgSmall" src="../../../assets/images/iphon 13 mini.png" alt="">

     <!-- Header -->
    <header>
          
        <div class="logo_container">
          <img src="../../../assets/images/Logo.svg"  />

        </div>

        <div class="header__tools">

              <div class="">
                  <button (click)="changeLang()">{{unCurrentlang}}</button>
              </div>
            <img src="../../../assets/images/Icon.svg" alt="">


        </div>
      

    </header>
    <div class="content">
        <span id="almost">{{'soon' | translate}}</span>
        <span id="description">{{'description' | translate}}</span>
      <div class="timer">
  <div>
    <div>{{ days }}</div>
    <span>{{'Days' | translate}}</span>
  </div>
  <div>
    <div>{{ hours }}</div>
    <span>{{'Hours' | translate}}</span>
  </div>
  <div>
    <div>{{ minutes }}</div>
    <span>{{'Minutes' | translate}}</span>
  </div>
  <div>
    <div>{{ seconds }}</div>
    <span>{{'Seconds' | translate}}</span>
  </div>
</div>

    </div>
    <footer>
        <div class="elipse_container">
            <img src="../../../assets/images/eclipseElement.svg" alt="">
        </div>
        <!-- <div class="social_icons">
            <img src="../../../assets/images/Group 24.png" alt="">
            <img src="../../../assets/images/Group 20.png" alt="">
            <img src="../../../assets/images/Group 21.png" alt="">
            <img src="../../../assets/images/Group 22.png" alt="">
            <img src="../../../assets/images/Group 23.png" alt="">
        </div> -->
        <div class="copyright">
            <span>Meras Global - © 2025 All Rights Reserved.</span>
        </div>
    </footer>

</div>
