<div class="box">

    <img id="bg_container" src="../../../assets/images/Group 3286.png" alt="">

     <!-- Header -->
    <header>
      
  
        <div class="">
          
            <img src="../../../assets/images/Icon.svg" alt="">
          
        </div>
        <div class="logo_container">
          <img src="../../../assets/images/vertical main(2) 3.png"  />

        </div>
    
    </header>
    <div class="content">
        <span id="almost">قريبــــــــــــــــــاً</span>
        <span id="description">مراس العالمية شركة متخصصة في تطوير استراتيجيات التسويق وإدارة المشاريع التجارية والعقارية من خلال خبرات متقدمة</span>
        <div class="timer">
            <div>
                <div>11</div>
                <span>Days</span>
            </div>
             <div>
                <div>24</div>
                <span>Hours</span>
            </div>
             <div>
                <div>54</div>
                <span>Minutes</span>
            </div>
             <div>
                <div>11</div>
                <span>Seconds</span>
            </div>
        </div>
    </div>
    <footer>
        <div class="elipse_container">
            <img src="../../../assets/images/eclipseElement.svg" alt="">
        </div>
        <div class="social_icons">
            <img src="../../../assets/images/Group 24.png" alt="">
            <img src="../../../assets/images/Group 20.png" alt="">
            <img src="../../../assets/images/Group 21.png" alt="">
            <img src="../../../assets/images/Group 22.png" alt="">
            <img src="../../../assets/images/Group 23.png" alt="">
        </div>
        <div class="copyright">
            <span>Meras Global - © 2025 All Rights Reserved.</span>
        </div>
    </footer>
</div>
